@use '../mastodon/functions' as *;

// Dependent colors
$black: #000;

$classic-base-color: hsl(210deg, 16%, 18%);
$classic-primary-color: hsl(210deg, 29%, 65%);
$classic-secondary-color: hsl(224deg, 25%, 84%);
$classic-highlight-color: hsl(210deg, 47%, 60%);

$ui-base-color: $classic-base-color !default;
$ui-primary-color: $classic-primary-color !default;
$ui-secondary-color: $classic-secondary-color !default;
$ui-highlight-color: $classic-highlight-color !default;

@use '../mastodon/variables' with (
  $darker-text-color: lighten($ui-primary-color, 20%),
  $dark-text-color: lighten($ui-primary-color, 12%),
  $secondary-text-color: lighten($ui-secondary-color, 6%),
  $highlight-text-color: lighten($ui-highlight-color, 10%),
  $action-button-color: lighten($ui-base-color, 50%),
  $inverted-text-color: $black,
  $lighter-text-color: darken($ui-base-color, 6%),
  $light-text-color: $classic-primary-color
);
